@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}

/* --------------------------------------------------------------------header------------------------------------------------------------------------------------------- */

header{
    display: flex;
}

nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
    padding: 30px 30px;
}

nav ul{
    list-style: none;
}

nav ul a{
    position: relative;
    color: rgb(161, 161, 161);
    font-size: 14px;
    display: table;
    padding: 10px;
}

nav .fas{
    position: relative;
    width: 20px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.logout{
    position: absolute;
    bottom: 30px;
}

nav ul a:hover{
    color: #fff;
}

/* -----------------------------------------------------main-------------------------------------------------------------------------------------------- */

main {
    margin-left: 250px;
    padding: 30px;
}

section.top {
    display: flex;
    justify-content: right;
    align-items: center;
}

section.top ul{
    list-style: none;
}


section.top ul a{
    color: rgb(161, 161, 161);
    font-size: 30px;
}

section.top ul a:hover{
    color: #fff;
}

.recent-order{
    padding-top: 30px;
    padding-left: 10px;
    color: #fff;
}

.Recent-orders-table{
    display: flex;
    margin-top: 40px;
}

.Recent-orders-table table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.Recent-orders-table table th{
    background-color: rgb(4, 109, 0);
    padding: 10px 10px;
    color: #e0e0e0;
    font-size: 12px;
}

.Recent-orders-table table td{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    color: #1a1a1a;
    font-size: 12px;
}

.Recent-orders-table table td.A{
    color: #3ea125;
}
.Recent-orders-table table td.R{
    color: #ff0000;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.Recent-orders-table .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}